In [1]:
#Step1: Data cleaning and preparation

In [2]:
#import libraries
import pandas as pd
from scipy import stats

In [3]:
#load the given dataset
#1. FDI dataset 1
df1=pd.read_csv('FDI Dataset1.csv')
#2. FDI dataset 2 
df2=pd.read_csv('FDI Dataset2_USD.csv')

In [4]:
df1.head(5)

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt % of gdp,fdi% of gdp,gdp
0,2023,3502136.44,1000961,4503097,NaN,NaN,NaN,NaN,NaN,14870519.17,57.10,1.480000,30620978.0
1,2022,3458958.79,728274,4187232,NaN,NaN,NaN,NaN,NaN,13247266.04,55.45,1.461675,27821700.0
2,2021,3200926.29,592874,3793801,NaN,NaN,NaN,NaN,NaN,11601630.10,54.71,1.419775,23489550.0
3,2020,3083519.00,426317,3509836,NaN,NaN,NaN,NaN,NaN,10046915.00,55.10,2.409136,20393460.0
4,2019,2350604.33,335726,2686330,NaN,NaN,NaN,NaN,NaN,8132360.54,46.70,1.784826,19990760.0

In [5]:
df2.head(5)

,year,exchange rate,gdp in billions of dollars,govt debt % of gdp,fdi% of gdp
0,1970,7.50,62.42,38.183503,0.042484
1,1971,7.49,67.35,37.583009,0.047506
2,1972,7.59,71.46,37.157028,0.035912
3,1973,7.74,85.52,34.129334,0.002584
4,1974,8.10,99.53,28.767862,0.009069

In [6]:
#Merge both datasets to get the exchange rates to convert INR to USD
merged=pd.merge(df1,df2,on='year')

In [7]:
#check the merged data 
merged.head(5)

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt % of gdp_x,fdi% of gdp_x,gdp,exchange rate,gdp in billions of dollars,govt debt % of gdp_y,fdi% of gdp_y
0,2023,3502136.44,1000961,4503097,NaN,NaN,NaN,NaN,NaN,14870519.17,57.10,1.480000,30620978.0,81.94,3737.0,57.10,1.480000
1,2022,3458958.79,728274,4187232,NaN,NaN,NaN,NaN,NaN,13247266.04,55.45,1.461675,27821700.0,81.35,3420.0,55.45,1.461675
2,2021,3200926.29,592874,3793801,NaN,NaN,NaN,NaN,NaN,11601630.10,54.71,1.419775,23489550.0,74.57,3150.0,54.71,1.419775
3,2020,3083519.00,426317,3509836,NaN,NaN,NaN,NaN,NaN,10046915.00,55.10,2.409136,20393460.0,76.38,2670.0,55.10,2.409136
4,2019,2350604.33,335726,2686330,NaN,NaN,NaN,NaN,NaN,8132360.54,46.70,1.784826,19990760.0,70.39,2840.0,46.70,1.784826

In [8]:
#drop columns with same data
identical1=merged['govt debt % of gdp_x'].equals(merged['govt debt % of gdp_y'])
identical2=merged['fdi% of gdp_x'].equals(merged['fdi% of gdp_y'])
if identical1 and identical2:
    merged=merged.drop(['govt debt % of gdp_y','fdi% of gdp_y'],axis=1)
    merged=merged.rename(columns={'govt debt % of gdp_x':'govt debt in % of GDP','fdi% of gdp_x':'FDI in % of GDP'})

In [9]:
#check the modified dataframe
merged.head(5)

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt in % of GDP,FDI in % of GDP,gdp,exchange rate,gdp in billions of dollars
0,2023,3502136.44,1000961,4503097,NaN,NaN,NaN,NaN,NaN,14870519.17,57.10,1.480000,30620978.0,81.94,3737.0
1,2022,3458958.79,728274,4187232,NaN,NaN,NaN,NaN,NaN,13247266.04,55.45,1.461675,27821700.0,81.35,3420.0
2,2021,3200926.29,592874,3793801,NaN,NaN,NaN,NaN,NaN,11601630.10,54.71,1.419775,23489550.0,74.57,3150.0
3,2020,3083519.00,426317,3509836,NaN,NaN,NaN,NaN,NaN,10046915.00,55.10,2.409136,20393460.0,76.38,2670.0
4,2019,2350604.33,335726,2686330,NaN,NaN,NaN,NaN,NaN,8132360.54,46.70,1.784826,19990760.0,70.39,2840.0

In [10]:
#Check for missing values - drop/change if needed 
merged.isna().sum()

year                                  0
revenue expenditure                   0
capital expenditure                   0
total expenditure                     0
agriculture expenditure              22
rural development expenditure        22
energy expenditure                   22
industry and minerals expenditure    22
transport expenditure                22
internal debt                        10
govt debt in % of GDP                 0
FDI in % of GDP                       0
gdp                                   0
exchange rate                         0
gdp in billions of dollars            0
dtype: int64

In [12]:
#Check for outliers and drop/change if needed
#Using zscore for each column
z_scores=stats.zscore(merged)
outliers=(z_scores>3).any(axis=1)
outlier_data=merged[outliers]
zscore_outlier=z_scores[outliers]
#Check the columns with their zscores
outlier_columns= pd.concat([outlier_data, zscore_outlier.add_suffix('_zscore')], axis=1)

In [14]:
zscore_outlier

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt in % of GDP,FDI in % of GDP,gdp,exchange rate,gdp in billions of dollars
0,1.700267,2.960508,4.634644,3.261899,NaN,NaN,NaN,NaN,NaN,NaN,1.075345,0.407892,3.236407,2.015470,2.775091
1,1.636106,2.915507,3.197862,2.984939,NaN,NaN,NaN,NaN,NaN,NaN,0.882394,0.386487,2.877716,1.990188,2.462172

In [13]:
outlier_columns

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,...,rural development expenditure_zscore,energy expenditure_zscore,industry and minerals expenditure_zscore,transport expenditure_zscore,internal debt_zscore,govt debt in % of GDP_zscore,FDI in % of GDP_zscore,gdp_zscore,exchange rate_zscore,gdp in billions of dollars_zscore
0,2023,3502136.44,1000961,4503097,NaN,NaN,NaN,NaN,NaN,14870519.17,...,NaN,NaN,NaN,NaN,NaN,1.075345,0.407892,3.236407,2.015470,2.775091
1,2022,3458958.79,728274,4187232,NaN,NaN,NaN,NaN,NaN,13247266.04,...,NaN,NaN,NaN,NaN,NaN,0.882394,0.386487,2.877716,1.990188,2.462172

In [15]:
#convert INR to USD based on exchange rate
#calculate each column in billions of USD
#create a list of columns to convert 
columns=['revenue expenditure','capital expenditure','total expenditure','agriculture expenditure',
         'rural development expenditure','energy expenditure','industry and minerals expenditure',
         'transport expenditure','internal debt','gdp']
for i in columns:
    merged[i]=merged[i]/(merged['exchange rate']*100)

In [16]:
#check the modified data
merged.head(5)

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt in % of GDP,FDI in % of GDP,gdp,exchange rate,gdp in billions of dollars
0,2023,427.402543,122.157798,549.560288,NaN,NaN,NaN,NaN,NaN,1814.805854,57.10,1.480000,3737.0,81.94,3737.0
1,2022,425.194688,89.523540,514.718132,NaN,NaN,NaN,NaN,NaN,1628.428524,55.45,1.461675,3420.0,81.35,3420.0
2,2021,429.251212,79.505699,508.757007,NaN,NaN,NaN,NaN,NaN,1555.803956,54.71,1.419775,3150.0,74.57,3150.0
3,2020,403.707646,55.815266,459.522912,NaN,NaN,NaN,NaN,NaN,1315.385572,55.10,2.409136,2670.0,76.38,2670.0
4,2019,333.940095,47.695127,381.635175,NaN,NaN,NaN,NaN,NaN,1155.328959,46.70,1.784826,2840.0,70.39,2840.0

In [17]:
#drop identical gdp column as both are in billion USD
merged=merged.drop('gdp in billions of dollars',axis=1)
merged=merged.rename(columns={'gdp':'GDP'})

In [18]:
#check the modified data
merged.head(5)

,year,revenue expenditure,capital expenditure,total expenditure,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt in % of GDP,FDI in % of GDP,GDP,exchange rate
0,2023,427.402543,122.157798,549.560288,NaN,NaN,NaN,NaN,NaN,1814.805854,57.10,1.480000,3737.0,81.94
1,2022,425.194688,89.523540,514.718132,NaN,NaN,NaN,NaN,NaN,1628.428524,55.45,1.461675,3420.0,81.35
2,2021,429.251212,79.505699,508.757007,NaN,NaN,NaN,NaN,NaN,1555.803956,54.71,1.419775,3150.0,74.57
3,2020,403.707646,55.815266,459.522912,NaN,NaN,NaN,NaN,NaN,1315.385572,55.10,2.409136,2670.0,76.38
4,2019,333.940095,47.695127,381.635175,NaN,NaN,NaN,NaN,NaN,1155.328959,46.70,1.784826,2840.0,70.39

In [19]:
#Calculate FDI and govt debt from given percentage in GDP
merged.insert(loc=10,column='govt debt',value=(merged['govt debt in % of GDP']*merged['GDP'])/100)
merged.insert(loc=12,column='FDI',value=(merged['FDI in % of GDP']*merged['GDP'])/100)

In [20]:
#Calculate yearly growth rates for revenue, capital and total expenditure
rev_growth=merged['revenue expenditure'].pct_change(periods=-1)
cap_growth=merged['capital expenditure'].pct_change(periods=-1)
tot_growth=merged['total expenditure'].pct_change(periods=-1)

In [21]:
#insert these values into the dataframe
merged.insert(loc=2,column='revenue_exp %growth',value=rev_growth*100)
merged.insert(loc=4,column='capital_exp %growth',value=cap_growth*100)
merged.insert(loc=6,column='total_exp %growth',value=tot_growth*100)

In [22]:
merged.head(5)

,year,revenue expenditure,revenue_exp %growth,capital expenditure,capital_exp %growth,total expenditure,total_exp %growth,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,govt debt,govt debt in % of GDP,FDI,FDI in % of GDP,GDP,exchange rate
0,2023,427.402543,0.519257,122.157798,36.453270,549.560288,6.769172,NaN,NaN,NaN,NaN,NaN,1814.805854,2133.827,57.10,55.307600,1.480000,3737.0,81.94
1,2022,425.194688,-0.945023,89.523540,12.600154,514.718132,1.171704,NaN,NaN,NaN,NaN,NaN,1628.428524,1896.390,55.45,49.989286,1.461675,3420.0,81.35
2,2021,429.251212,6.327244,79.505699,42.444362,508.757007,10.714176,NaN,NaN,NaN,NaN,NaN,1555.803956,1723.365,54.71,44.722921,1.419775,3150.0,74.57
3,2020,403.707646,20.892235,55.815266,17.025091,459.522912,20.408951,NaN,NaN,NaN,NaN,NaN,1315.385572,1471.170,55.10,64.323929,2.409136,2670.0,76.38
4,2019,333.940095,16.597947,47.695127,8.638264,381.635175,15.539973,NaN,NaN,NaN,NaN,NaN,1155.328959,1326.280,46.70,50.689068,1.784826,2840.0,70.39

In [23]:
#Calculate internal debt in % of GDP
merged.insert(loc=13,column='internal debt in % of GDP',value=(merged['internal debt']/merged['GDP'])*100)

In [24]:
merged.head(5)

,year,revenue expenditure,revenue_exp %growth,capital expenditure,capital_exp %growth,total expenditure,total_exp %growth,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,internal debt in % of GDP,govt debt,govt debt in % of GDP,FDI,FDI in % of GDP,GDP,exchange rate
0,2023,427.402543,0.519257,122.157798,36.453270,549.560288,6.769172,NaN,NaN,NaN,NaN,NaN,1814.805854,48.563175,2133.827,57.10,55.307600,1.480000,3737.0,81.94
1,2022,425.194688,-0.945023,89.523540,12.600154,514.718132,1.171704,NaN,NaN,NaN,NaN,NaN,1628.428524,47.614869,1896.390,55.45,49.989286,1.461675,3420.0,81.35
2,2021,429.251212,6.327244,79.505699,42.444362,508.757007,10.714176,NaN,NaN,NaN,NaN,NaN,1555.803956,49.390602,1723.365,54.71,44.722921,1.419775,3150.0,74.57
3,2020,403.707646,20.892235,55.815266,17.025091,459.522912,20.408951,NaN,NaN,NaN,NaN,NaN,1315.385572,49.265377,1471.170,55.10,64.323929,2.409136,2670.0,76.38
4,2019,333.940095,16.597947,47.695127,8.638264,381.635175,15.539973,NaN,NaN,NaN,NaN,NaN,1155.328959,40.680597,1326.280,46.70,50.689068,1.784826,2840.0,70.39

In [25]:
#Round each column(which has floats) to 3 decimal places 
merged=merged.round(3)

In [26]:
#check the modified data
merged.head(5)

,year,revenue expenditure,revenue_exp %growth,capital expenditure,capital_exp %growth,total expenditure,total_exp %growth,agriculture expenditure,rural development expenditure,energy expenditure,industry and minerals expenditure,transport expenditure,internal debt,internal debt in % of GDP,govt debt,govt debt in % of GDP,FDI,FDI in % of GDP,GDP,exchange rate
0,2023,427.403,0.519,122.158,36.453,549.560,6.769,NaN,NaN,NaN,NaN,NaN,1814.806,48.563,2133.827,57.10,55.308,1.480,3737.0,81.94
1,2022,425.195,-0.945,89.524,12.600,514.718,1.172,NaN,NaN,NaN,NaN,NaN,1628.429,47.615,1896.390,55.45,49.989,1.462,3420.0,81.35
2,2021,429.251,6.327,79.506,42.444,508.757,10.714,NaN,NaN,NaN,NaN,NaN,1555.804,49.391,1723.365,54.71,44.723,1.420,3150.0,74.57
3,2020,403.708,20.892,55.815,17.025,459.523,20.409,NaN,NaN,NaN,NaN,NaN,1315.386,49.265,1471.170,55.10,64.324,2.409,2670.0,76.38
4,2019,333.940,16.598,47.695,8.638,381.635,15.540,NaN,NaN,NaN,NaN,NaN,1155.329,40.681,1326.280,46.70,50.689,1.785,2840.0,70.39

In [27]:
#save the new dataset 
merged.to_csv('FDI_DataSet_Modified.csv',index=False)